@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-size: 62.5%;
    font-family: 'Inter';

    --color-text: #667085;
    --logo-color: #3A404E;
    --font-color:  #8E2424;
    --title-color: #101828;
}

header{
    display: flex;
    margin: 1.2rem auto auto 2rem;
    gap: .6rem;
}

header h1{
    font-size: 1.8rem;
    padding-top: .4rem;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
    gap: 2rem;
}

.menu a{
    text-decoration: none;
    color: var(--color-text);
    font-size: 1.6rem;
}

.btn-login{
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    gap: 2rem;
}

.btn-login a{
    text-decoration: none;
    font-size: 1.6rem;
}

.btn-login a:nth-child(1){
    color: var(--color-text);
    padding-top: 2rem;
}

.btn-login a:nth-child(2){
    width: 7rem;
    height: 3.5rem;
    background-color: var(--font-color);
    color: white;
    padding: 1.5rem 2rem 0 1rem;
    border-radius: .8rem;
}

.about-us{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 10rem;
    gap: 2.5rem;
    width: 34rem;
    margin: auto;
}

.about-us span{
    font-size: 1.6rem;
    color: var(--font-color);
}

.about-us h2{
    color: var(--title-color);
    font-size: 4rem;
    letter-spacing: -0.02em;
}

.about-us p{
    color: var(--color-text);
    font-size: 1.6rem;
}

.info{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 7rem;
    width: 40%;
    margin: auto;
    gap: 2rem;
}


.container span{
    font-size: 4rem;
    color: var(--font-color);
}

.container h6{
    color: var(--title-color);
    font-size: 1.8rem;
}

.container p{
    font-size: 1.6rem;
    color: var(--color-text);
}

.vagas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 5rem;
}

.vagas span{
    color: var(--font-color);
    font-size: 1.4rem;
    background-color: #C3191908;
    width: 11rem;
    height: 2rem;
    margin: auto;
    border-radius: 1.6rem;
}

.vagas h4{
    font-size: 2.3rem;
    color: var(--title-color);
    padding-block: 2rem;
}

.vagas p{
    color: var(--color-text);
    font-size: 2rem;
    padding-bottom: 6rem;
}

.jobs{
    margin-left: 4rem;
    margin-top: 4rem;
}

.jobs h4{
    color: var(--title-color);
    font-size: 2rem;
    margin-top: 4rem;
}

.job-details{
    margin-top: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    border: 1px solid var(--color-text);
    width: 30rem;
    border-radius: .8rem;
    padding: 1.5rem;
}

.job-details h5{
    font-size: 1.8rem;
    color: var(--title-color);
    width: 50rem;
}

.job-details p{
    color: var(--color-text);
    font-size: 1.6rem;
}

.comentarios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 8rem;
    gap: 3rem;
    background-color: #C3191908;
    padding-block: 4rem;
}

.comentarios span{
    font-size: 1.4rem;
    color: var(--font-color);
    font-weight: bold;
}

.comentarios h3{
    color: var(--title-color);
    font-size: 1.8rem;
}

.comentarios img{
    width: 56px;
    height: 56px;
    margin: auto;
}

.nome{
    color: var(--title-color);
    font-size: 1.6rem;
}

.cargo{
    color: var(--color-text);
    font-size: 1.4rem;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9FAFB;
    gap: 1rem;
    padding-block: 8rem;
    text-align: center;
    margin-top: 6rem;
}

footer h3{
    font-size: 2.6rem;
    color: var(--title-color);
}

footer span{
    color: var(--color-text);
    font-size: 1.8rem;
    padding-inline: 1rem;
}

footer input{
    font-size: 1.3rem;
    width: 20rem;
    height: 3rem;
    padding-left: 1rem;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 6px;

}

footer button{
    color: #fff;
    background-color: var(--font-color);
    width: 8rem;
    height: 4rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    margin-left: 2rem;
}

footer p{
    color: var(--color-text);
    font-size: 1.2rem;
}

@media screen and (min-width: 900px){
    header{
        position: absolute;
        margin-top: -1rem;
        margin-left: 3rem;
    }

    .menu{
        display: flex;
        flex-direction: row;
        margin-top: 4rem;
        margin-left: 25%;
        position: relative;
    }

    .btn-login{
        position: relative;
        margin-left: 70%;
        margin-top: -4rem;
    }

    .about-us{
        width: 52%;
        margin-bottom: 5rem;
    }

    .info{
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 90%;
        text-align: start;
    }

    .vagas{
        margin-top: 15rem;
    }

    .vagas img{
        width: 90%;
        margin: auto;
    }

    .jobs{
        margin-left: 30%;
    }

    .comentarios{
        width: 90%;
        margin: auto;
        margin-top: 15rem;
        border-radius: 8px;
    }
}

@media screen and (min-width: 700px){
    header{
        position: absolute;
        margin-top: -1rem;
    }

    .menu{
        display: flex;
        flex-direction: row;
        margin-top: 4rem;
        margin-left: 25%;
        position: relative;
    }

    .btn-login{
        position: relative;
        margin-left: 70%;
        margin-top: -4rem;
    }

    .about-us{
        width: 80%;
    }

    .vagas{
        margin-top: 10rem;
    }

    .comentarios h3{
        width: 90%;
        margin: auto;
    }
}